*~
*.o
*.so
*.os
*.pyc
*.obj
*.exe.manifest
build
src/base/config.h
stage
.sconsign.dblite
.sconf_temp
cantera.conf
config.log
*.lib
*.exp
*.manifest
*.pdb
*.ilk
*.suo
*.dll
*.msi
*.mex*
.cproject
.project
.pydevproject
.settings
Cantera/matlab/build_cantera.m
*.gcda
*.gcno
coverage
coverage.info
