doc/ctdeploy_key
*~
*#
*.o
*.so
*.os
*.pyc
*.obj
*.exe.manifest
build/
test/work/
test_problems/ChemEquil_ionizedGas/ChemEquil_ionizedGas
test_problems/cathermo/testWaterPDSS/WaterPDSS
test_problems/cathermo/testWaterTP/WaterSSTP
test_problems/cxx_ex/cxx_ex
test_problems/diamondSurf/diamondSurf
test_problems/pureFluidTest/pureFluid
test_problems/rankine_democxx/rankine_democxx
test_problems/surfkin/surfkin
interfaces/cython/cantera/_cantera.h
include/cantera/base/config.h
include/cantera/base/config.h.build
include/cantera/base/system.h.gch
include/cantera/ext/
interfaces/matlab/ctpath.m
interfaces/matlab/Contents.m
stage/
.sconsign.dblite
.sconf_temp
cantera.conf*
config.log
*.lib
*.exp
*.manifest
*.pdb
*.ilk
*.suo
*.dll
*.a
*.def
*.msi
*.mex*
*.asv
.cproject
.project
.pydevproject
.settings
*.gcda
*.gcno
*.gch
coverage/
coverage.info
doc/sphinx/matlab/data.rst
doc/sphinx/matlab/importing.rst
doc/sphinx/matlab/kinetics.rst
doc/sphinx/matlab/one-dim.rst
doc/sphinx/matlab/thermodynamics.rst
doc/sphinx/matlab/transport.rst
doc/sphinx/matlab/utilities.rst
doc/sphinx/matlab/zero-dim.rst
