[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "ext/sundials"]
	path = ext/sundials
	url = https://github.com/LLNL/sundials
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://gitlab.com/libeigen/eigen.git/
[submodule "ext/yaml-cpp"]
	path = ext/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "ext/HighFive"]
	path = ext/HighFive
	url = https://github.com/highfive-devs/highfive
[submodule "ext/doxygen-awesome-css"]
	path = ext/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "data/example-data"]
	path = data/example_data
	url = https://github.com/cantera/cantera-example-data
	shallow = true
[submodule "ext/radlib"]
	path = ext/radlib
	url = https://github.com/BYUignite/radlib
