div.math {
    /* Fix equations to be centered instead of right aligned */
    padding-right: unset;
    flex-direction: unset;
    justify-content: center;
}

p + div.math {
    /* Remove post-paragraph space ahead of equation to center vertically */
    margin-top: -1.15em;
}
