include cantera/_cantera.cpp
include cantera/_cantera.h
recursive-include cantera *.pyx
include sundials_config.h.in
graft include
recursive-include ext *.h
recursive-include src *.h
recursive-include ext/libexecstream/posix *.cpp
recursive-include ext/libexecstream/win *.cpp
exclude include/cantera/ext/sundials/sundials_config.h
