.passed*
*.exe
*.csv
!*_blessed.csv
*.txt
!*_blessed.txt

ChemEquil_ionizedGas/ChemEquil_ionizedGas
CpJump/CpJump
VCSnonideal/NaCl_equil/nacl_equil
cathermo/DH_graph_1/DH_graph_1
cathermo/DH_graph_1/DH_graph_1.log
cathermo/HMW_graph_CpvT/HMW_graph_CpvT
cathermo/HMW_graph_GvI/HMW_graph_GvI
cathermo/HMW_graph_GvT/HMW_graph_GvT
cathermo/HMW_graph_HvT/HMW_graph_HvT
cathermo/HMW_graph_VvT/HMW_graph_VvT
cathermo/HMW_test_1/HMW_test_1
cathermo/HMW_test_3/HMW_test_3
cathermo/ims/IMSTester
cathermo/issp/ISSPTester
cathermo/stoichSub/stoichSub
cathermo/testWaterPDSS/WaterPDSS
cathermo/testWaterTP/WaterSSTP
cathermo/VPissp/ISSPTester2
clib_test/clib_test
cxx_samples/flamespeed.h5
cxx_samples/flamespeed.yaml
diamondSurf/diamondSurf
diamondSurf/runDiamond_output.out
dustyGasTransport/dustyGasTransport
pureFluidTest/pureFluid
surfSolverTest/surfaceSolver
stoichSolidKinetics/stoichSolidKinetics
