#!/usr/bin/make -f

export DH_OPTIONS
export DH_VERBOSE

clean:
	scons clean

	rm -f site_scons/*.pyc
	rm -f site_scons/site_tools/*.pyc
	rm -f cantera.conf
	rm -f config.log
	rm -f debian/substvars

	dh_clean

binary: build
	dh_prep
	dh_installdeb
	dh_installdocs
	dh_installchangelogs
	dh_installman platform/posix/man/*

	scons install

	rm -f debian/cantera-python/usr/bin/ctml_writer
	rm -f debian/cantera-python/usr/bin/ck2cti
	rm -f debian/cantera-python3/usr/bin/ctml_writer
	rm -f debian/cantera-python3/usr/bin/ck2cti
	mv debian/cantera-python3/usr/bin/mixmaster debian/cantera-python3/usr/bin/mixmaster3

	dh_strip
	dh_shlibdeps
	dh_compress
	dh_gencontrol
	dh_fixperms
	dh_builddeb

binary-arch: binary

binary-indep: binary
	/bin/true

build:
	scons build -j6 prefix=/usr blas_lapack_libs=lapack,blas debug=n use_sundials=y f90_interface=y build_thread_safe=y renamed_shared_libraries=n boost_thread_lib=boost_system python_package=full python3_package=y layout=debian

build-arch: build

build-indep: build
