#!/usr/bin/make -f

export DH_OPTIONS
export DH_VERBOSE
export FULL_VERSION=`head -n 1 debian/changelog | sed 's/cantera (\([0-9]\+\.[0-9]\+\.[0-9]\+\).*).*/\1/'`
export SO_VERSION=3.0

clean:
	scons clean

	rm -f site_scons/*.pyc
	rm -f site_scons/site_tools/*.pyc
	rm -rf site_scons/__pycache__
	rm -f cantera.conf
	rm -f config.log
	rm -f debian/substvars

	dh_clean

binary: build
	dh_prep
	dh_installdocs
	dh_installchangelogs
	dh_installman platform/posix/man/*

	scons install

	mkdir -p debian/cantera-common/usr/bin
	mkdir -p debian/cantera-common/usr/share/cantera/
	sed 's|#\!/usr/bin/env python$$|#\!/usr/bin/env python3|' interfaces/cython/cantera/ck2yaml.py > debian/cantera-common/usr/bin/ck2yaml
	sed 's|#\!/usr/bin/env python$$|#\!/usr/bin/env python3|' interfaces/cython/cantera/ctml2yaml.py > debian/cantera-common/usr/bin/ctml2yaml
	sed 's|#\!/usr/bin/env python$$|#\!/usr/bin/env python3|' interfaces/cython/cantera/cti2yaml.py > debian/cantera-common/usr/bin/cti2yaml
	sed 's|#\!/usr/bin/env python$$|#\!/usr/bin/env python3|' interfaces/cython/cantera/yaml2ck.py > debian/cantera-common/usr/bin/yaml2ck
	chmod a+x debian/cantera-common/usr/bin/*
	mv stage/usr/share/cantera/data debian/cantera-common/usr/share/cantera/
	mv stage/usr/share/cantera/samples debian/cantera-common/usr/share/cantera/

	mkdir -p debian/cantera-python3/usr/lib/python3/dist-packages
	mkdir -p debian/cantera-python3/usr/lib/cantera

	rm -rf stage/usr/local/lib/python3.*/dist-packages/cantera/data
	find stage -name __pycache__ | xargs rm -rf
	rm -f stage/usr/local/lib/python3.*/dist-packages/Cantera-*.dist-info/INSTALLER
	rm -f stage/usr/local/lib/python3.*/dist-packages/Cantera-*.dist-info/LICENSE.txt
	rm -f stage/usr/local/lib/python3.*/dist-packages/Cantera-*.dist-info/direct_url.json
	rm -f stage/usr/local/lib/python3.*/dist-packages/Cantera-*.dist-info/REQUESTED
	patchelf --replace-needed libcantera.so libcantera.so.${SO_VERSION} stage/usr/lib/libcantera_python*.so
	patchelf --replace-needed libcantera.so libcantera.so.${SO_VERSION} stage/usr/local/lib/python3.*/dist-packages/cantera/_cantera*.so
	mv stage/usr/local/lib/python3.*/dist-packages/cantera debian/cantera-python3/usr/lib/python3/dist-packages/
	mv stage/usr/local/lib/python3.*/dist-packages/Cantera-*.dist-info debian/cantera-python3/usr/lib/python3/dist-packages/
	mv stage/usr/lib/libcantera_python*.so debian/cantera-python3/usr/lib/cantera/
	ln -s /usr/share/cantera/data debian/cantera-python3/usr/lib/python3/dist-packages/cantera/

	mkdir -p debian/libcantera-dev/usr/lib/${DEB_HOST_MULTIARCH}/
	mv stage/usr/lib/*.a debian/libcantera-dev/usr/lib/${DEB_HOST_MULTIARCH}/
	ln -s libcantera.so.${SO_VERSION} debian/libcantera-dev/usr/lib/${DEB_HOST_MULTIARCH}/libcantera.so
	ln -s libcantera_fortran.so.${SO_VERSION} debian/libcantera-dev/usr/lib/${DEB_HOST_MULTIARCH}/libcantera_fortran.so
	mkdir -p debian/cantera-dev/usr/lib/${DEB_HOST_MULTIARCH}/pkgconfig
	mv stage/usr/lib/pkgconfig/cantera.pc debian/cantera-dev/usr/lib/${DEB_HOST_MULTIARCH}/pkgconfig/
	mkdir -p debian/libcantera-dev/usr/include
	mv stage/usr/include/cantera debian/libcantera-dev/usr/include

	mkdir -p debian/libcantera${SO_VERSION}/usr/lib/${DEB_HOST_MULTIARCH}
	patchelf --set-soname libcantera.so.${SO_VERSION} stage/usr/lib/libcantera.so
	mv stage/usr/lib/libcantera.so debian/libcantera${SO_VERSION}/usr/lib/${DEB_HOST_MULTIARCH}/libcantera.so.${FULL_VERSION}
	ln -s libcantera.so.${FULL_VERSION} debian/libcantera${SO_VERSION}/usr/lib/${DEB_HOST_MULTIARCH}/libcantera.so.${SO_VERSION}

	mkdir -p debian/libcantera-fortran${SO_VERSION}/usr/lib/${DEB_HOST_MULTIARCH}
	patchelf --set-soname libcantera_fortran.so.${SO_VERSION} stage/usr/lib/libcantera_fortran.so
	patchelf --replace-needed libcantera.so libcantera.so.${SO_VERSION} stage/usr/lib/libcantera_fortran.so
	mv stage/usr/lib/libcantera_fortran.so debian/libcantera-fortran${SO_VERSION}/usr/lib/${DEB_HOST_MULTIARCH}/libcantera_fortran.so.${FULL_VERSION}
	ln -s libcantera_fortran.so.${FULL_VERSION} debian/libcantera-fortran${SO_VERSION}/usr/lib/${DEB_HOST_MULTIARCH}/libcantera_fortran.so.${SO_VERSION}

	dh_compress
	dh_fixperms
	dh_strip
	dh_link
	dh_makeshlibs
	dh_shlibdeps -- -Sdebian/libcantera3
	dh_installdeb
	dh_gencontrol
	dh_builddeb

binary-arch: binary

binary-indep: binary
	/bin/true

build:
	scons build -j6 prefix=/usr layout=standard stage_dir=stage package_build=y \
	    blas_lapack_libs=lapack,blas system_sundials=y f90_interface=y \
		renamed_shared_libraries=n versioned_shared_library=n \
		python_package=full system_eigen=y system_fmt=y \
		use_rpath_linkage=n

build-arch: build

build-indep: build
