# Configuration for CLib code generation.

# This file is part of Cantera. See License.txt in the top-level directory or
# at https://cantera.org/license.txt for license and copyright information.

# List of files to ignore entirely:
ignore_files: []

# Dictionary of file names and list of functions to ignore.
# Example: ctkin_auto.yaml: [phase]
ignore_funcs: {}

# Return type cross-walks
ret_type_crosswalk:
  bool: int
  void: int
  int: int
  size_t: int
  double: double
  const double: double
  shared_ptr<T>: int
  string: char*
  const string: char*
  vector<double>&: double*
  const vector<double>&: double*

# Parameter type cross-walks
prop_type_crosswalk:
  bool: int
  int: int
  const int*: const int*
  size_t: int
  const size_t: int
  double: double
  const double: double
  double*: double*
  double* const: double*
  const double*: const double*
  const double* const: const double*
  string: const char*
  const string&: const char*
  shared_ptr<T>: int
  const shared_ptr<T>: int
  vector<double>&: double*
  const vector<double>&: const double*
  vector<shared_ptr<T>>&: int[]
  const vector<shared_ptr<T>>&: int[]

# Cabinets with associated preambles (headers)
preambles:
  "": |-
    #include "../clib/clib_defs.h"

# Cabinets with associated includes (implementation files)
includes:
  "":
  - cantera/base/global.h
  - cantera/base/ExternalLogger.h
  Solution:
  - cantera/base/Solution.h
  Interface:
  - cantera/base/Interface.h
  ThermoPhase:
  - cantera/thermo/ThermoFactory.h
  - cantera/thermo/SurfPhase.h
  Kinetics:
  - cantera/kinetics/KineticsFactory.h
  - cantera/kinetics/InterfaceKinetics.h
  Transport:
  - cantera/transport/TransportFactory.h
  MultiPhase:
  - cantera/equil/MultiPhase.h
  - cantera/thermo/ThermoPhase.h
  Reaction:
  - cantera/kinetics/Reaction.h
  ReactionPathDiagram:
  - cantera/kinetics/ReactionPath.h
  Func1:
  - cantera/numerics/Func1Factory.h
  ReactorBase:
  - cantera/zeroD/ReactorFactory.h
  - cantera/zeroD/FlowReactor.h
  ConnectorNode:
  - cantera/zeroD/ConnectorFactory.h
  - cantera/zeroD/flowControllers.h
  - cantera/zeroD/Wall.h
  ReactorNet:
  - cantera/zeroD/ReactorNet.h
  Domain1D:
  - cantera/oneD/DomainFactory.h
  Flow1D:
  - cantera/oneD/Flow1D.h
  Boundary1D:
  - cantera/oneD/Boundary1D.h
  Sim1D:
  - cantera/oneD/Sim1D.h
