# Configuration for CLib code generation.

# This file is part of Cantera. See License.txt in the top-level directory or
# at https://cantera.org/license.txt for license and copyright information.

# List of files to ignore entirely. For CLib, this option is only used for testing or
# debugging purposes and should otherwise be left empty.
ignore_files: []

# Dictionary of file names and list of functions to ignore. For CLib, this options is
# only used for testing or debugging purposes and should otherwise be left empty.
ignore_funcs: {}

# **************************************************************************************
#  TODO: Cross-walks are still hard-coded, as a prior version used them for the
#  generation of CLib headers (now moved to HeaderGenerator). In an update, the
#  cross-walks should be specified here.
#  The version prior to code refactoring (split of `HeaderGenerator` from
#  `CLibSourceGenerator`) used cross-walks from C++ to CLib (for the header generation)
#  and also CLib to C++ (for the CLib source generation), with only one set being
#  configured here.
# **************************************************************************************

# Return type cross-walks
ret_type_crosswalk: {}

# Parameter type cross-walks
prop_type_crosswalk: {}

# Cabinets with associated preambles (headers)
preambles:
  "": |-
    #include "../clib/clib_defs.h"

# Cabinets with associated includes (implementation files)
includes:
  "":
  - cantera/base/global.h
  - cantera/base/ExternalLogger.h
  Solution:
  - cantera/base/Solution.h
  Interface:
  - cantera/base/Interface.h
  ThermoPhase:
  - cantera/thermo/ThermoFactory.h
  - cantera/thermo/SurfPhase.h
  Kinetics:
  - cantera/kinetics/KineticsFactory.h
  - cantera/kinetics/InterfaceKinetics.h
  Transport:
  - cantera/transport/TransportFactory.h
  MultiPhase:
  - cantera/equil/MultiPhase.h
  - cantera/thermo/ThermoPhase.h
  Reaction:
  - cantera/kinetics/Reaction.h
  ReactionPathDiagram:
  - cantera/kinetics/ReactionPath.h
  Func1:
  - cantera/numerics/Func1Factory.h
  ReactorBase:
  - cantera/zeroD/ReactorFactory.h
  - cantera/zeroD/FlowReactor.h
  ConnectorNode:
  - cantera/zeroD/ConnectorFactory.h
  - cantera/zeroD/flowControllers.h
  - cantera/zeroD/Wall.h
  ReactorNet:
  - cantera/zeroD/ReactorNet.h
  Domain1D:
  - cantera/oneD/DomainFactory.h
  Flow1D:
  - cantera/oneD/Flow1D.h
  Boundary1D:
  - cantera/oneD/Boundary1D.h
  Sim1D:
  - cantera/oneD/Sim1D.h
