@import url('./alabaster.css');

dl.method, dl.attribute, dl.staticmethod, dl.classmethod {
     border-top: 1px solid #aaa;
     padding-top: 4px;
 }

dl.class, dl.function {
    border-top: 2px solid #888;
    padding-top: 4px;
}

.nav-link {
    text-decoration: none !important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
    font-size: 1rem !important;
}

#logo { width: 250px; }
